{% extends ":calculadora:index.html.twig" %}
{% block title %}{{ parent() }}: Resultado{% endblock %}
{% block body %}
	<h1>Resultado</h1>
	
	<p>
		El resultado de la {{ frase }} de {{ op1 }} {{ operador }} {{ op2 }} es {{ resultado }}.
	</p>
{% endblock %}

{% block pie %}{{ parent() }}{% endblock %}